.sideBarOption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}
.sideBarOption:hover {
  color: #fff;
}
.sidebarOption__icon{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 16px;
}
.sideBarOption > p{
margin-top: 10px;
margin-left: 20px;
font-size: 14px;
}